@{
    ViewBag.Title = "Contact";
}

</br>

<h2 style="text-align: center">@ViewBag.Title</h2>

</br>

<address>
    <strong>LinkedIn&emsp;&ensp;</strong>   <a href="http://www.linkedin.com/in/celso-coutinho">linkedin.com/in/celso-coutinho</a>
</address>

<address>
    <strong>Email&emsp;&emsp;&emsp;</strong>   <a href="mailto:celsocoutinho@mail.com">celsocoutinho@mail.com</a>
</address>